<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Catalogo hipotecas</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h:outputLabel value="Token:" />
                <h:inputText value="#{beanCatalogoHipoteca.token}" required="true"/>
                <h:outputLabel value="Area:" />
                <h:inputText value="#{beanCatalogoHipoteca.area}" required="true"/>
                <h:outputLabel value="Precio base:" />
                <h:inputText value="#{beanCatalogoHipoteca.precioBase}" required="true"/>

                <h:commandButton value="Consultar" action="#{beanCatalogoHipoteca.consultarCatalogoHipoteca()}" />

            </h:form>
        </f:view>
    </h:body>
</html>

