<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>
        <h:form>
            <h:outputLabel value="Token:" />
            <h:inputText value="#{beanCatalogoPrestamoAutomovil.token}" required="true"/>
            <h:outputLabel value="PrecioBase:" />
            <h:inputText value="#{beanCatalogoPrestamoAutomovil.precioBase}" required="true"/>
            <h:outputLabel value="Modelo:" />
            <h:inputText value="#{beanCatalogoPrestamoAutomovil.modelo}" required="true"/>
            
            <h:commandButton value="Consultar" action="#{beanCatalogoPrestamoAutomovil.obtenerCatalogoPrestamoAutomovil()}" />
        </h:form>
        </f:view>
       
    </h:body>
</html>

