<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear convenio</title>
    </h:head>
    <h:body>
        Bienvenido nuevo usuario

        <f:view>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="DPI:" />
                    <h:inputText value="#{beanCrearConvenio.dpi}" />
                    <h:outputLabel value="Primer Nombre:" />
                    <h:inputText value="#{beanCrearConvenio.primerNombre}"/>
                    <h:outputLabel value="Segundo Nombre:" />
                    <h:inputText value="#{beanCrearConvenio.segundoNombre}" required="false" />
                    <h:outputLabel value="Primer Apellido:" />
                    <h:inputText value="#{beanCrearConvenio.primerApellido}" required="true" />
                    <h:outputLabel value="Segundo Apellido:" />
                    <h:inputText value="#{beanCrearConvenio.segundoApellido}" required="false" />
                    <h:outputLabel value="Password:" />
                    <h:inputText value="#{beanCrearConvenio.password}" required="true" />
                    <h:outputLabel value="Password:" />
                    <h:inputText value="#{beanCrearConvenio.password2}" required="true" />                
                </h:panelGrid>
                <h:commandButton value="Guardar" action="#{beanCrearConvenio.guardarUsuario()}"/>

            </h:form>
        </f:view>

    </h:body>
</html>

