<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gestion de cuentas</title>
    </h:head>
    <h:body>
        Apertura de cuentas:
        <f:view>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="DPI:" />
                    <h:inputText value="#{beanCuenta.dpi}" />
                    <h:outputLabel value="Nombre:" />
                    <h:inputText value="#{beanCuenta.nombre}"/>
                    <h:outputLabel value="Direccion:" />
                    <h:inputText value="#{beanCuenta.direccion}" required="false" />
                    <h:outputLabel value="Telefono:" />
                    <h:inputText value="#{beanCuenta.telefono}" required="true" />
                    <h:outputLabel value="Token:" />
                    <h:inputText value="#{beanCuenta.token}" required="true" />
                    <h:commandButton value="Procesar" action="#{beanCuenta.crearCuenta()}" />
                </h:panelGrid>
            </h:form>
        </f:view>
        <br/>
        Consultar cuenta:
        <f:view>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Cuenta:" />
                    <h:inputText value="#{beanCuenta.numcuenta}" required="true" />
                    <h:outputLabel value="Token:" />
                    <h:inputText value="#{beanCuenta.token}" required="true" />
                    <h:commandButton value="Procesar" action="#{beanCuenta.consultarCuenta()}" />
                </h:panelGrid>
            </h:form>
        </f:view>
        <br/>
        Depositos:
        <f:view>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Cuenta:" />
                    <h:inputText value="#{beanCuenta.numcuenta}" />
                    <h:outputLabel value="Monto:" />
                    <h:inputText value="#{beanCuenta.monto}"/>
                    <h:outputLabel value="Descripcion" />
                    <h:inputText value="#{beanCuenta.descripcion}" />
                    <h:outputLabel value="Token:" />
                    <h:inputText value="#{beanCuenta.token}" required="true" />
                    <h:commandButton value="Procesar" action="#{beanCuenta.depositos()}" />
                </h:panelGrid>
            </h:form>
        </f:view>
        <br/>
        Cuentas por convenio:
        <f:view>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Convenio:" />
                    <h:inputText value="#{beanCuenta.convenio}" required="true" />
                    <h:outputLabel value="Token:" />
                    <h:inputText value="#{beanCuenta.token}" required="true" />
                    <h:commandButton value="Procesar" action="#{beanCuenta.cuentasPorConvenio()}" />
                </h:panelGrid>
            </h:form>
        </f:view>
        <br/>
        Resultado:
        <pre>#{beanCuenta.mensaje}</pre>
    </h:body>
</html>

