<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h:outputLabel value="#{beanUsuario.mensaje}" />
                <h:panelGrid columns="3">
                    <h:outputLabel value="Convenio:" />
                    <h:inputText id="convenio" value="#{beanUsuario.convenio}" required="true" validatorMessage="El usuario es requerido" />
                    <h:message for="convenio"/>
                    
                    <h:outputLabel value="Passwd:" />
                    <h:inputSecret id="passwd" value="#{beanUsuario.passwd}" required="true" validatorMessage="Ingrese una contraseña" />
                    <h:message for="passwd" />
                    
                    <h:commandButton value="Logear" action="#{beanUsuario.procesar()}" />
                </h:panelGrid>
            </h:form>
        </f:view>
        <f:view>
            <h:form>
                <h:button value ="Crear convenio" outcome="crearConvenio"/>
            </h:form>
        </f:view>

    </h:body>
</html>

