<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Menu principal</title>
    </h:head>
    <h:body>
        Finanzas
        <ul>
            <li><a href="cuentas.xhtml">Seccion de cuentas</a> </li>
        </ul>
        <br/>
        Prestamos
        <ul>
            <li><a href="catalogoPrestamoAutomovil.xhtml">Mostrar catalogo de prestamo de automovil</a> </li>
            <li><a href="realizacionPrestamoAutomovil.xhtml">Realizar prestamo de automovil</a></li>
            <li><a href="catalogoHipotecas.xhtml">Mostrar catalogo hipotecas</a></li>
            <?Realizacion prestamo hipoteca pide varios parametros, cuales son?>
            <li><a href="realizacionPrestamoHipoteca.xhtml">Realizar hipoteca</a></li>
            <li><a href="realizacionPrestamoHipotecaPorConvenio.xhtml">Realizar prestamo hipoteca por convenio</a></li>
            <li><a href="realizacionPrestamoAutomovilPorConvenio.xhtml">Realizar prestamo de automovil por convenio</a></li>
        </ul>
        Seguros
        <ul>
            <li><a href="Aseguradora/consultarSeguroVida.xhtml">Consultar seguro de vida</a></li>
        </ul>
        
    </h:body>
</html>

