<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Prestamo hipotecario por convenio</title>
    </h:head>
    <h:body>
        <p>Prestamo hipotecario por convenio</p>
        <f:view>
            <h:form>
                <h:outputLabel value="Token:" />
                <h:inputText value="#{beanPrestamoHipotecarioPorConvenio.token}" required="true"/>
                <h:outputLabel value="Convenio:" />
                <h:inputText value="#{beanPrestamoHipotecarioPorConvenio.convenio}" required="true"/>
             
                <h:commandButton value="Guardar" action="#{beanPrestamoHipotecarioPorConvenio.realizarPrestamoHipotecarioPorConvenio()}" />
                </f:view>
            </h:form>
                
    </h:body>
</html>

