<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Prestamo automovil</title>
    </h:head>
    <h:body>
        <p>Prestamo automovil</p>
        <f:view>
            <h:form>
                <h:outputLabel value="Token:" />
                <h:inputText value="#{beanPrestamoAutomovil.token}" required="true"/>
                <h:outputLabel value="Convenio:" />
                <h:inputText value="#{beanPrestamoAutomovil.convenio}" required="true"/>
                <h:outputLabel value="Modelo:" />
                <h:inputText value="#{beanPrestamoAutomovil.modelo}" required="true"/>\
                <h:outputLabel value="Placa:" />
                <h:inputText value="#{beanPrestamoAutomovil.placa}" required="true"/>
                <h:outputLabel value="Chasis:" />
                <h:inputText value="#{beanPrestamoAutomovil.chasis}" required="true"/>
                <h:outputLabel value="Monto:" />
                <h:inputText value="#{beanPrestamoAutomovil.monto}" required="true"/>
                <h:outputLabel value="Numero de pagos:" />
                <h:inputText value="#{beanPrestamoAutomovil.numpagos}" required="true"/>
                <h:outputLabel value="Interes:" />
                <h:inputText value="#{beanPrestamoAutomovil.interes}" required="true"/>
                
                <h:commandButton value="Guardar" action="#{beanPrestamoAutomovil.realizarPrestamoAutomovil()}" />
            </h:form>
        </f:view>

        
    </h:body>
</html>

